.login-form {
  display: flex;
  flex-direction: column;
  gap: var(--suc-space-5);
  width: 100%;
}

.login-form.suc-animate-fade-in-up {
  animation-delay: 0.1s;
}

.login-form__toggle {
  position: absolute;
  right: var(--suc-space-2);
}

.login-form__submit {
  margin-top: var(--suc-space-1);
}
